.titulo-pagina {
  text-align: center;
  font-size: 3rem;
}

.catProducto {
  text-align: center;
  width: 70%;
  margin: auto auto;
  margin-top: 5%;
}
footer {
  text-align: center;
}

.card {
  margin: auto;
  width: 60vw;
  text-align: center;
}

.card-link:hover {
  color: blue !important;
}

footer {
  color: white;
  height: 60px;
  margin-top: 5%;
  background: red;
}
